.env
.env.*
!.env.example
*.log
.DS_Store
Thumbs.db

vendor/
node_modules/

source/.env
source/.env.*
!source/.env.example
source/vendor/
source/node_modules/
source/public/build/
source/public/hot
source/public/storage
source/storage/*.key
source/storage/logs/*.log
source/storage/framework/cache/data/
source/storage/framework/sessions/
source/storage/framework/views/

.idea/
.vscode/
.phpunit.result.cache
